$colors: (
  "default" : (#44a4fc, #187fe7, #ffffffdd),
  "success" : (#556b2f, #779642, #ffffffdd),
  "warn" : (#f48a06, #ffb648, #000000aa),
  "error" : (#b82e24, #e54d42, #ffffffdd),
);

$switch: (
  "default" : (#44a4fc, #187fe7, #fff),
  "black-white" : (#888, #eee, #222),
);

$background-header: #fdf1db;
$background-main: #556b2f;
$background-secondary: #3e4e21;
$background-footer: #444;

$color-text: #fdf1db;
$color-text-dark: #000;

$board-border-color: #000;
$board-square-light: #f5deb3;
$board-square-dark: #cd853f;
$board-turn-indicator: #adff2f;
